@use "../helpers/variables" as *;
@use "../helpers/functions" as *;
@use "../helpers/mixins" as *;
@use "../helpers/media" as *;


.button {
  display: inline-flex;
  align-items: center;
  height: rem(38);
  padding-inline: rem(26);
  font-size: rem(16);
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-ligth);
  border-radius: rem(30);
  border: none;
  white-space: nowrap;
  @include mobile {
    font-size: rem(14);
    padding-inline: rem(15);
  }
}
.header__burger-button {
  z-index: 100;
  display: flex;
  flex-direction: column;
  row-gap: rem(4);
  justify-content: center;
  padding-left: rem(8);
  width: rem(40);
  aspect-ratio: 1;
  color: var(--color-ligth);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: 50%;
  &.is-active {
    //ворочаем при клике
    .header__burger-button--line {
      &:nth-child(2) {
        rotate: 45deg;
        transform-origin: 0;
        translate: 0.25em -0.1em;
      }
      &:nth-child(3) {
        rotate: -45deg;
      }
      &:last-child {
        width: 0;
      }
    }
  }
}
.header__burger-button--line {
  background-color: currentColor;
  width: 100%;
  height: rem(2);
  border-radius: 1rem;
  transition-duration: var(--transition-duration);

  &:last-child {
    //умееньшаем ширину нижней палочки
    width: 55%;
    align-self: end;
  }


}
.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: rem(31);
  padding-right: rem(80);
  color: var(--color-ligth);
  background-color: transparent;
  border: var(--border);
  font-size: rem(14);
  @include hover {
    color: var(--color-dark);
    background-color: var(--color-ligth-gray);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: url("../../img/icon/top-right-arrow.svg") center center/70% no-repeat;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    border: var(--border);
    border-radius: 50%;
  }
}
