@use "../helpers/functions" as *;
@use "../helpers/mixins" as *;
@use "../helpers/media" as *;
@use "../helpers/variables" as *;

.joinus {
  background-color: var(--color-dark-alt);
  &__video {
    width: 100%;
    max-width: rem(960);
    height: auto;
    &-wrapper {
      position: relative;
      padding: rem(150) rem(30);
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../../img/joinus_bg.jpg") center/cover no-repeat var(--color-dark-alt);
    }

    &-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); // чтобы отцентрировать
      display: inline-flex;
      justify-content: center;
      align-items: center;
      column-gap: rem(5);
      width: rem(200);
      aspect-ratio: 1;
      text-transform: uppercase;
      font-size: rem(14);
      font-weight: 700;
      background-color: transparent;
      color: var(--color-ligth);
      border: var(--border);
      border-radius: 100%;
      @include hover {
        background-color: var(--color-ligth-gray);
        color: var(--color-dark);
        &::after {
          filter: invert(1);
        }
      }

      &::after {
        content: "";
        width: rem(26);
        aspect-ratio: 1;
        right: rem(60);
        text-decoration: var(--transition-duration);
        background: url("../../img/icon/top-right-arrow.svg") center/contain no-repeat;
      }
      @include mobile {
        width: rem(100);
      }
    }
  }
  &__body {
    padding-bottom: rem(150);
  }
  &__title {
    position: relative;
    margin-top: -0.4em;
    font-size: fluid(180, 55);
    line-height: 1;
    text-align: center;
    &::after {
      content: '';
      height: 0.7em;
      aspect-ratio: 1;
      display: inline-block;
      background: url("../../img/icon/arrow-white.svg") center/contain no-repeat;
      scale: 1 -1;
      margin-left: 0.14em;
    }
    &:not(:last-child) {
      margin-bottom: rem(130);
    }
  }
  &__form {
    &-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: rem(8);
      color: var(--color-ligth);
      &:not(:last-child) {
        margin-bottom: rem(52);
      }
    }
    &-title {
      font-size: fluid(60, 30);
      font-weight: 700;
    }
    &-subtitle {
      font-size: fluid(20, 16);
      line-height: 1.65;
      font-weight: 300;
      text-transform: uppercase;
    }
    &-input {
      max-width: rem(400);
    }
    &-body {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: rem(20);

      @include mobile {
        flex-direction: column;
        row-gap: rem(20);
      }
    }
  }

}
