@use "../helpers/functions" as *;
@use "../helpers/mixins" as *;
@use "../helpers/media" as *;
@use "../helpers/variables" as *;

.training {
  position: relative; //чтоб обрезать фото с предыдущейй секции
  max-width: rem(1900);
  padding-top: rem(70);
  padding-bottom: rem(120);
  background-color: var(--color-dark);
  margin-inline: auto;

  &__list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(60);

    @include laptop {
      grid-template-columns: repeat(3, 1fr);
      gap: rem(45);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30);
    }
  }

  &__item {
    --paddingSize: #{rem(80)};

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(32);
    align-self: end;
    padding-top: var(--paddingSize);
    background: url("/icon/arrow-down-left.svg") 80% 0/var(--paddingSize) no-repeat;

    @include tablet {
      row-gap: rem(20);
    }

    @include mobile {
      --paddingSize: #{rem(60)};
    }

    &-title {
      font-size: rem(16);
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__img {
    height: rem(150);
  }
}
