@use 'functions' as *;
:root {
  --color-dark: #000000 ;
  --color-ligth: #ffffff ;
  --color-dark-gray: #404040 ;
  --color-ligth-gray: #c4c4c4 ;
  --color-dark-alt: #131619;
  --border-radius: #{rem(30)} ;
  --border: #{rem(1)} solid var(--color-ligth );
  --font-family-base: 'Heebo';
  --font-family-accent: 'Yantramanav', sans-serif;
  --input-height: #{rem(54)} ;
  --header-height: #{rem(90)} ;


  --container-width: #{rem(1300)};
  --container-padding-x: #{rem(15)};
  --transition-duration: 0.2s;
}

